.SearchResults {
  list-style: none;
  text-align: center;
  width: 70%;
  margin: auto;
  padding: 0;
  & li {
    margin-bottom: 1.5em;
  
    & a {
      text-decoration: none;
      color: #000;
    }
  }
  & li:hover {
    transform: scale(1.05);
    opacity: .7;
    transition: all .2s ease-in-out;
  }
}
